module Problem@Number = 
  (**
  ## Problem no @Number
  ### @Title
  ### @Difficulty
  ### https://projecteuler.net/problem=@Number
  @Content
  *)  

  let currentProblem = @Number

  let answer = nan

  EulerUtils.sendAnswer currentProblem (string answer)

